@import "../../App.css";

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding: 2.5rem 0;
}

.error-container {
  @apply bg-red-500/10 p-6;
  text-align: center;
}
